/* rem = 10px */
html {
  font-size: 62.5%;
}

/* General */

/* #000000
#2e2021
#5c4043
#8a6065
#b98088
#c2949a
#cba8ac
#d4bcc0
#ded0d4
#e7e4e7
#f0f8fb  */

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;

  background-color: #bb999c;
}

a, a:visited, a:hover {
  text-decoration: none;
}

input, button {
  border: none;
}

.h1 {
  font-size: 6.4rem;
}

.h3 {
  font-size: 2.8rem;
}

.input {
  padding: 0.3rem;
}

/* HEADER */

/* Title and Container */

.header {
  padding-top: 2rem;
  background-color: #450920;
  box-shadow: 0 1rem 1rem #450920;
}

.title__container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.title__icon {
  height: 6.4rem;
  width: 6.4rem;  
}

.title__text {
  color: #bb999c;
  text-shadow: 0.2rem 0.2rem 0.2rem #fff;
}

/* Searchbar */

.search-bar__container {
  display: flex;
  justify-content: center;

  margin-top: 3.2rem;
  margin-bottom: 2.2rem;
}

.search-bar__input, .search-bar__button {
  font-size: 2.8rem;
}

.search-bar__input {
  min-width: 40%;
  border-radius: 1rem 0 0 1rem;

  border: 0.1rem solid #545e75;
  color: #450920;
}

.search-bar__input::placeholder {
  color: #450920;
}

.search-bar__input:focus {
  outline: 0.1rem solid #bb999c;
}

.search-bar__button {
  border-radius: 0 1rem 1rem 0;

  background-color: #bb999c;
  color: #450920;

  :hover {
    cursor: pointer;
  }
}

/* Navbar */

.navbar__list {
  padding: 1.2rem 0;
  
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1.2rem;

  li {
    padding: 0.5rem 2rem;

    font-size: 2.8rem;
    color: #bb999c;
    border: 0.1rem solid #bb999c;

    transition-duration: 0.2s;
  }

  li:hover {
    cursor: pointer;

    text-shadow: 0.1rem 0.1rem 0.1rem #bb999c;
    box-shadow: 0.2rem 0.2rem 0.2rem #bb999c;
  }
}

/* Section Splitter */

.splitter {
  display: flex;
  justify-content: center;
  height: 1rem;

  div {
    width: 95%;
    height: 0.3rem;

    background: linear-gradient(90deg, rgba(69,9,32,0) 0%, rgba(69,9,32,1) 30%, rgba(69,9,32,1) 70%, rgba(69,9,32,0) 100%);
  }
}

/* Product Sections */

.section__container {
  position: relative;
  margin: 2rem;
  border: 1rem solid #450920;
  border-radius: 10rem;

  padding: 4rem;
  background-color: rgba(255, 255, 255, 0.2);
}

.section__title {
  position: absolute;
  top: -1rem;
  margin-left: 10rem;

  padding: 0 2rem;
  border-radius: 1rem;

  background-color: #450920;
  color: #bb999c;
  text-transform: uppercase;
}

.section__list {
  display: flex;
  justify-content: space-around;

  li img {
    width: 28rem;
    height: 28rem;
  }
}

/* Footer */

.footer {
  margin-top: 1rem;
  box-shadow: 0 -1rem 1rem #450920;

  background-color: #450920;
  color: #bb999c;
  text-align: center;
}

.footer__title {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer__list {
  li:hover {
    cursor: pointer;
  }
}

.footer__copyright {
  padding-top: 4rem;
  padding-bottom: 4rem;
}